@import "tailwindcss";

/* Custom Scrollbar for elements that used to hide it entirely */
.scrollbar-hide::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

.scrollbar-hide::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
}

.scrollbar-hide::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

.scrollbar-hide {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.15) transparent;
}
